/* Basic CSS */

body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font:
    14px 'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
}

header {
  background-color: #f8f8f8;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #f8f8f8;
  padding: 1rem;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

main {
  padding: 2rem 1rem;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

/* Butttons */

.auth-buttons button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.auth-buttons button:hover {
  background-color: #0056b3;
}

.auth-buttons button a {
  text-decoration: none;
  color: white;
}

.auth-buttons button a:hover {
  color: white;
}

